<!-- Mission Section -->
    <section id="mission" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <center><img src="img/rai_logo.png" class="img-responsive" alt=""></center>
                    <br />
                    <h2 class="section-subheading text-muted">Ratzke & Associates Ltd. is committed to providing superior investigative and security services to assist our clients in making the most informed decisions</h2>
                </div>
            </div>
        </div>
    </section>
